<!DOCTYPE html>
<html>
  <head>
    <title>FilmBuddies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://vjs.zencdn.net/7.2.3/video-js.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascript/navigator.js"></script>
    <script src="https://vjs.zencdn.net/7.2.3/video.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
